<!-- header  -->
<%- include('partials/header.ejs') %>

<!-- navbar -->
<%- include('partials/navbar.ejs') %>

<!-- main content -->
<section class="container-fluid" id="main-content">
    <!-- all projects card -->
    <div class="row">
        <% for(let project of allProjects){ %>
            <div class="col-12 col-md-6">
                <!-- project card -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="project-details-tab" data-bs-toggle="tab" href="#project-details" role="tab" aria-controls="project-details" aria-selected="true">Project De</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="project-video-tab" data-bs-toggle="tab" href="#project-video" role="tab" aria-controls="profile" aria-selected="false">Video Clip</a>
                    </li>
                </ul>

                <div class="tab-content" id="projectContent">
                    <div class="tab-pane fade show active" id="project-details" role="tabpanel" aria-labelledby="project-details-tab">
                        <div class="card text-center" id="project-details-card">
                            <img src="<%= project.imageLink %>" class="card-img-top" alt="project image">
                            
                            <div class="card-body">
                              <small class="text-muted"><%= project.createdOn %></small>
                              <br /><br />
                              <h5 class="card-text"><%= project.projectName %></h5>
                            </div>
        
                            <div class="card-footer">
                                <a href="<%= project.githubLink %>" class="btn btn-primary">Github Link</a>
                                <a href="<%= project.hostingLink %>" class="btn btn-success">Hosting Link</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="project-video" role="tabpanel" aria-labelledby="project-video">
                        <div class="card" id="project-video-card">
                            <h1>Video</h1>
                        </div>
                    </div>
                </div>
                <!-- projects ends here -->
            </div>
        <% } %>
    </div>
</section>
<!-- main content ends here -->

<!-- footer -->
<%- include('partials/footer.ejs') %>