<!-- header  -->
<%- include('partials/header.ejs') %>

<!-- navbar -->
<%- include('partials/navbar.ejs') %>


<!-- main content -->
<div class="container text-center" id="project-intro">
    <h2>Project Collection</h2>
    <br />
    <h5>Here are a few design projects I've worked on recently. </h5>
    <br />
</div>

<section class="container" id="projects-section">
    <!-- all projects modals -->
    <div class="row" id="project-card-collection">
        <% for(let project of allProjects){ %>
            <div class="col-12 col-md-4 my-2">
                
                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-<%= project._id %>">
                    <img src="<%= project.thumbnailLink %>" class="img-fluid rounded-3" alt="<%= project.projectName %> Image">
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal-<%= project._id %>" tabindex="-1" aria-labelledby="modal-<%= project.projectName %>" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content row">
                            <div class="modal-header text-white bg-dark">
                                <h5 class="modal-title"><%= project.projectName %></h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body text-white bg-dark">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="card p-0">
                                            <img src="<%= project.imageLink %>" class="img-fluid" alt="<%= project.projectName %> Image"> 
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="container p-4">
                                            <%= project.projectDescription %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer text-white bg-dark">
                                <a type="button" href="<%= project.githubLink %>" class="btn btn-success"><i class="fab fa-github"></i></a>
                                <% if(project.hostingLink){ %>
                                    <a type="button" href="<%= project.hostingLink %>" class="btn btn-primary"><i class="fas fa-rocket"></i></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- project modal ends here -->
            </div>
        <% } %>
    </div>
</section>


<!-- newsletter -->
<%- include('partials/newsletter.ejs') %>

<!-- footer -->
<%- include('partials/footer.ejs') %>
<!-- footer ends here -->
