<!-- header  -->
<%- include('partials/header.ejs') %>

<!-- navbar -->
<%- include('partials/navbar.ejs') %>


<!-- main content -->
<section class="container-fluid" id="projects-section">
    <!-- all projects card -->
    <div class="row" id="project-card-collection">
        <% for(let project of allProjects){ %>
            <div class="col-12 col-md-4 p-4">
                <!-- project card -->
                <div class="card">
                    <div class="card text-center" id="project-details-card-<%= project._id %>">
                        <img src="<%= project.imageLink %>" class="card-img-top" alt="project image">
                                
                        <div class="card-body">
                            <small class="text-muted"><%= project.createdOn %> <%= project.creationTime %></small>
                            <br /><br />
        
                            <h5 class="card-text"><%= project.projectName %></h5>
    
                            <a href="<%= project.githubLink %>" class="btn btn-primary m-2" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="<%= project.hostingLink %>" class="btn btn-success m-2" target="_blank"><i class="fas fa-rocket"></i></a>
                        </div>
                    </div>
                </div>
                <!-- projects ends here -->
            </div>
        <% } %>
    </div>
</section>


<!-- newsletter -->
<%- include('partials/newsletter.ejs') %>

<!-- footer -->
<%- include('partials/footer.ejs') %>
<!-- footer ends here -->
